StockServiceClientV2/Connected Services/StockService/StockService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://projetoavaliativo.dm113/01" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://projetoavaliativo.dm113/01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://projetoavaliativo.dm113/01/Imports">
      <xsd:import schemaLocation="http://localhost:65201/StockService.svc?xsd=xsd0" namespace="http://projetoavaliativo.dm113/01" />
      <xsd:import schemaLocation="http://localhost:65201/StockService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65201/StockService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:65201/StockService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StockEntityModel" />
      <xsd:import schemaLocation="http://localhost:65201/StockService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ProductStock" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStockService_RetrieveAllProductsStock_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllProductsStock" />
  </wsdl:message>
  <wsdl:message name="IStockService_RetrieveAllProductsStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveAllProductsStockResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_CreateProductStock_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductStock" />
  </wsdl:message>
  <wsdl:message name="IStockService_CreateProductStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductStockResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_DeleteProductStock_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductStock" />
  </wsdl:message>
  <wsdl:message name="IStockService_DeleteProductStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductStockResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_RetrieveProductStockAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveProductStockAmount" />
  </wsdl:message>
  <wsdl:message name="IStockService_RetrieveProductStockAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveProductStockAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_UpdateProductStockAmount_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductStockAmount" />
  </wsdl:message>
  <wsdl:message name="IStockService_UpdateProductStockAmount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductStockAmountResponse" />
  </wsdl:message>
  <wsdl:message name="IStockService_RetrieveProductStock_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveProductStock" />
  </wsdl:message>
  <wsdl:message name="IStockService_RetrieveProductStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveProductStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IStockService">
    <wsdl:operation name="RetrieveAllProductsStock">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IStockService/RetrieveAllProductsStock" message="tns:IStockService_RetrieveAllProductsStock_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IStockService/RetrieveAllProductsStockResponse" message="tns:IStockService_RetrieveAllProductsStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProductStock">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IStockService/CreateProductStock" message="tns:IStockService_CreateProductStock_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IStockService/CreateProductStockResponse" message="tns:IStockService_CreateProductStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProductStock">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IStockService/DeleteProductStock" message="tns:IStockService_DeleteProductStock_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IStockService/DeleteProductStockResponse" message="tns:IStockService_DeleteProductStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveProductStockAmount">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IStockService/RetrieveProductStockAmount" message="tns:IStockService_RetrieveProductStockAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IStockService/RetrieveProductStockAmountResponse" message="tns:IStockService_RetrieveProductStockAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductStockAmount">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IStockService/UpdateProductStockAmount" message="tns:IStockService_UpdateProductStockAmount_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IStockService/UpdateProductStockAmountResponse" message="tns:IStockService_UpdateProductStockAmount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveProductStock">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/01/IStockService/RetrieveProductStock" message="tns:IStockService_RetrieveProductStock_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/01/IStockService/RetrieveProductStockResponse" message="tns:IStockService_RetrieveProductStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>