StockClient/Connected Services/StockService/StockService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://projetoavaliativo.dm113/02" elementFormDefault="qualified" targetNamespace="http://projetoavaliativo.dm113/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65201/StockService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ProductStock" />
  <xs:element name="UpdateProductStockAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productAmount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductStockAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProductStockAmountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveProductStock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveProductStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProductStock" minOccurs="0" name="RetrieveProductStockResult" nillable="true" type="q1:ProductStockData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>